<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/auth.css">

</head>

<body>
    <div class="container" id="container" style="text-align: center;">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Đăng Ký</h1>
                <input type="text" placeholder="Tên" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Mật khẩu" />
                <input type="password" placeholder="Nhập lại mật khẩu" />
                <input type="date">
                <input type="text" placeholder="Địa chỉ" />
                <input type="text" placeholder="SĐT" />
                <button>Đăng ký</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Đăng Nhập</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button>Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng đến với Asterism Cinema</h1>
                    <p style="margin-left:50;">Để tiếp tục, xin vui lòng đăng nhập!</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin chào!</h1>
                    <p>Điền thông tin của bạn để bắt đầu trải nghiệm trang web của chúng tôi!</p>
                    <button class="ghost" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/authEffect.js"></script>
</body>

</html>