<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/bill.css">
    <title>Bill</title>
</head>

<body>
    <div class="container bg-white mt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12">
                    <img src="image/Capture.PNG (2).png" alt="image-film" style="width: 100%">
                </div>
                <div class="col-md-8 col-12">
                    <div class="title">Tên Phim</div>
                    <div class="formality">
                        <label>2D</label>
                    </div>
                    <img src="image/Capture.PNG (2).png" alt="iconAge" style="width: 4rem;">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-12">
                    <div class="attribute">
                        <label>Tên rạp: </label>
                        <a>Aterism</a>
                    </div>
                    <div class="attribute">
                        <label>Xuất chiếu: </label>
                        <a>abc</a>
                    </div>
                    <div class="attribute">
                        <label>Phòng chiếu: </label>
                        <a>1</a>
                    </div>
                    <div class="attribute">
                        <label>Số ghế: </label>
                        <a>E3</a>
                    </div>
                </div>
                <div class="col-md-7 col-12">
                    <div class="attribute">
                        <label>Giá phim: </label>
                        <a>90,000 VND</a>
                    </div>
                    <div class="attribute">
                        <label>Tổng: </label>
                        <a>200,000</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>