<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/billList.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Bill List</title>
</head>

<body>
       
    <table class="table">
        <tr>
            <th scope="col">User Name</th>
            <th scope="col">Film Name</th>
            <th scope="col">Position</th>
            <th scope="col">Time</th>
            <th></th>
        </tr>
        <tr>
            <td>Name</td>
            <td>Film</td>
            <td>Id chair</td>
            <td>18:00</td>
            <td scope="row"><b>Status Bill</b></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Film</td>
            <td>Id chair</td>
            <td>18:00</td>
            <td scope="row"><b>Status Bill</b></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Film</td>
            <td>Id chair</td>
            <td>18:00</td>
            <td scope="row"><b>Status Bill</b></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Film</td>
            <td>Id chair</td>
            <td>18:00</td>
            <td scope="row"><b>Status Bill</b></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Film</td>
            <td>Id chair</td>
            <td>18:00</td>
            <td scope="row"><b>Status Bill</b></td>
        </tr>
        <tr>
            <td colspan="5"><button>Change page</button></td>
        </tr>

    </table>
</body>

</html>