<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Asterism</title>
    <link href="CSS/booking.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="booking-progress">
        <div class="page-title">
            <h1>Booking Online</h1>
        </div>
        <div class="top-content">

            <div>
                <p>Asterism | Cinema 3 | Số ghế (<em>64</em>/64)</p>
                <p>07/07/2020 18:40 ~ 07/07/2020 20:52</p>
            </div>

        </div>
        <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-8">
                <ol id="abc"></ol>
            </div>
        </div>
    </div>
    <script src="JS/booking.js"></script> 
</body>

</html>