<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/Detail.css">
    <title>Detail</title>
</head>

<body>
    <div class="bg-white container mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12">
                    <img src="image/Ngoi_den_ki_quai.jpg" alt="image-film" style="width: 100%">
                </div>
                <div class="col-md-8 col-12">
                    <div class="title">Ngôi Đền Kì Quái</div>
                    <div class="formality">
                        <label>Đạo Diễn:</label>
                        <a>Phontharis Chotkijsadarsopon</a>
                    </div>
                    <div class="formality">
                        <label>Diễn Viên:</label>
                        <a>Phiravich Attachitsataporn, Timethai Plangsilp, Paisarnkulwong Vachiravit</a>
                    </div>
                    <div class="formality">
                        <label>Thể Loại:</label>
                        <a>Hài, Kinh Dị</a>
                    </div>
                    <div class="formality">
                        <label>Độ dài:</label>
                        <a>115 phút</a>
                    </div>
                    <div class="formality">
                        <label>Ngôn ngữ:</label>
                        <a>Phụ đề tiếng Việt</a>
                    </div>
                    <div class="formality">
                        <label>Ban Age:</label>
                        <a>16+ - Phim cấm khán giả dưới 16 tuổi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="attribute">
                        <label>Thông tin chi tiết phim </label>
                        <p>Bộ đôi khẩu nghiệp đã hoàn tục quay lại con đường tạo nghiệp nhưng không may quả báo đến sớm,
                            cặp đôi trời đánh suýt chết nhiều lần bởi lời nguyền bí ẩn.
                            Họ đã phải quay lại đền tìm Nhong để trợ giúp phá giải lời nguyền.
                            Liệu họ sẽ tìm được cách phá giải lời nguyền hay khiến cho mọi thứ trở nên tồi tệ hơn </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="days row">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">T2</a></li>
                                <li class="page-item"><a class="page-link" href="#">T3</a></li>
                                <li class="page-item"><a class="page-link" href="#">T4</a></li>
                                <li class="page-item"><a class="page-link" href="#">T5</a></li>
                                <li class="page-item"><a class="page-link" href="#">T6</a></li>
                                <li class="page-item"><a class="page-link" href="#">T7</a></li>
                                <li class="page-item"><a class="page-link" href="#">CN</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="showtime" >
                            <div>
                                <label class="showtime-text row">Lịch Chiếu: </label>
                            </div>
                            <div class="border row" >
                                <button type="button" class="btn btn-secondary">                            
                                    8:30AM
                                    <br>
                                    64 ghế trống
                                </button>
                                <button type="button" class="btn btn-secondary">                            
                                    11:45AM
                                    <br>
                                    64 ghế trống
                                </button>
                                <button type="button" class="btn btn-secondary">                            
                                    13:00PM
                                    <br>
                                    64 ghế trống
                                </button>
                                <button type="button" class="btn btn-secondary">                            
                                    16:15PM
                                    <br>
                                    64 ghế trống
                                </button>
                                <button type="button" class="btn btn-secondary">                            
                                    19:30PM
                                    <br>
                                    64 ghế trống
                                </button>
                                <button type="button" class="btn btn-secondary">                            
                                    21:45PM
                                    <br>
                                    64 ghế trống
                                </button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>