<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Add ShowTime</title>
</head>

    
<div>
    <div class="d-flex flex-column justify-content-between align-items-center p-5" style="width: 100vw;">
        <form action="#">
            <h1 style="text-align: center;">Thêm lịch chiếu</h1>
            <div class="d-flex flex-column justify-content-between align-items-center p-3 w-100 rounded-sm m-2">
                <div class="d-flex flex-row justify-content-between align-items-center w-200 rounded-sm m-2">
                    <input type="date" placeholder="Ngày chiếu">
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center w-200 rounded-sm m-2">
                    <input type="time" placeholder="Giờ bắt đầu">
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center w-200 rounded-sm m-2">
                    <input type="time" placeholder="Giờ kết thúc">
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center m-2">
                    <button type="button" class="btn btn-warning btn-lg"><strong>Thêm</strong></button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>