/CinemaManagement/nbproject/private/
/CinemaManagement/build/
/cinemaManagement/nbproject/private/
/cinemaManagement/build/
/demoRestAPI/nbproject/private/
/cinemaManagement/dist/
/lab6/nbproject/private/
/lab6/build/
/lab7/nbproject/private/
/lab7/build/
/ontap/nbproject/private/
/ontap/build/