
.booking-progress {
    width: 100%;
    border: 2px solid #d4d3c9;
    background-color: #F2F0E4;
    display: block;
}
    
    
.top-content {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #d4d3c9;
    background: #fff1ce;
    margin-bottom: 20px;
    overflow: hidden;
}

#abc{
    size: 1rem;
    padding: 13rem;
    margin: 20px;
}
    