#navbarNav{
    font-size: 130%;
    
    
}


.container{
    position: relative;
    left: 40%;
    /* right: 40%; */
}



.nav-item:hover{
    background-color: rgba(100, 100, 100, 0.3);
}


body{
    /* background: url("../image/cinema1.jpg") ; */
}


